{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class = "features">
    <h1>{{ title }}</h1>
    <p>This website was written by me with using SQL and django frameworks!<br>
    My name Maksym, I am a python developer, learning everything by myself, and trying to get job due to summer<br>
    when I will turn 18, I have few project like this website, telegram bot and ToDo app with interface<br>
    Also providing my github account to share my achievement with you guys<3</p>

        </div>
{% endblock %}